version: '2'
services:
  frontend:
    build:
    image: react-pwa_frontend:new
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - '4000:8080'
  backend:
    build:
    image: react-pwa_backend:new
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '9000:8081'
